.primario {
    border: 2px solid red;
    position: relative;
    background-color: red;
    height: 100px;
    width: 100px;


}

.secundario {
    border: 2px solid blue;
    position: relative;
    background-color: blue;
    height: 100px;
    width: 100px;


}

.primario1 {
    border: 2px solid black;
    position: relative;
    background-color: black;
    height: 100px;
    width: 100px; 
    float: left;


}


.secundario1 {
    border: 2px solid pink;
    position: relative;
    background-color: pink;
    height: 100px;
    width: 100px;
    float: left;


}

.secundario2 {
    border: 2px solid purple;
    position: relative;
    background-color: purple;
    height: 100px;
    width: 100px;
    float: left;


}

.primario2 {
    border: 2px solid orange;
    position: relative;
    background-color: orange;
    height: 100px;
    width: 100px;
    float: right;


}

.primario3 {
    border: 2px solid orange;
    position: relative;
    background-color: orange;
    height: 100px;
    width: 100px;
    float: right;


}

.secundario3{
    border: 2px solid saddlebrown;
    position: relative;
    background-color: saddlebrown;
    height: 100px;
    width: 100px;
    float: right;


}

.terciario3 {
    border: 2px solid teal;
    position: relative;
    background-color: teal;
    height: 100px;
    width: 100px;
    float: left;


}

.primario4 {
    border: 2px solid lightblue;
    position: relative;
    background-color: lightblue;
    height: 100px;
    width: 100px;
    float: right;


}

.secundario4{
    border: 2px solid seagreen;
    position: relative;
    background-color: seagreen;
    height: 100px;
    width: 100px;
    float: right;


}

.terciario4 {
    border: 2px solid hotpink;
    position: relative;
    background-color: hotpink;
    height: 100px;
    width: 100px;
    float: left;


}

.primario5 {
    border: 2px solid pink;
    position: relative;
    background-color: pink;
    height: 100px;
    width: 100px;
    float: left;


}

.secundario5 {
    border: 2px solid peru;
    position: absolute;
    background-color: peru;
    height: 100px;
    width: 100px;
    left: 30px;;


}

.primario6 {
    border: 2px solid darkgreen;
    position: absolute;
    background-color: darkgreen;
    height: 100px;
    width: 100px;
    float: left;


}

.secundario6 {
    border: 2px solid tomato;
    position: relative;
    background-color: tomato;
    height: 100px;
    width: 100px;
    left: 30px;;


}


.primario7 {
    border: 2px solid red;
    position: absolute;
    background-color: red;
    height: 50px;
    width: 100px;
    float: left;


}

.secundario7{
    border: 2px solid blue;
    position: relative;
    background-color: white;
    height: 50px;
    width: 25px;
    left: 50px;


}

.terciario7{
    border: 2px solid red;
    position: absolute;
    background-color: red;
    height: 50px;
    width: 50px;
    top: 1777.5px;
    left: 80px;


}
