.head{
    background-color: blue;
    padding: 30px;
    text-align: center;
    font-size: 35px;

}

.col{
    height: 600px;
    float: left;
    padding: 10px;
    width: 32%;

}
.row{
    content: "";
    display: table;
    clear: both;
    width: 100%;

}
.footer{
    background-color: blue;
    height: 100px;
    padding: 10px;
    text-align: center;
    
}

@media (max-width: 600px) {
    .col {
      width: 100%;
    }
  }